.page-login {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-login {
    height:100%;
}

.page_top {
    background: rgba(31, 31, 31, 0.5);
    width: 400px;
    height: 100%;
}

.content-top {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-bottom {
    height: 85%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.opcity-content {
    opacity: 1;
}

.page-content-login {
    background-image: url('../login/pexels-francesco-ungaro-13817453.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}

.text-input-css {
    background: rgba(31, 31, 31, 0.5);
}