body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.loading {
  transition: .1s all ease;
  position: absolute;
  top: 0;
  left: 1;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999;
}
